{
  "root": true,
  "env": {
    "browser": true,
    "node": false
  },
  "extends": ["airbnb-typescript-prettier"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "error",
    "react/react-in-jsx-scope": "off",
    "react/no-unescaped-entities": [
      "error",
      {
        "forbid": [">", "}"]
      }
    ],
    "react/jsx-props-no-spreading": [
      "error",
      {
        "html": "enforce",
        "custom": "ignore",
        "explicitSpread": "ignore"
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "always",
        "bracketSpacing": true,
        "endOfLine": "lf",
        "printWidth": 80,
        "semi": true,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "es5",
        "useTabs": false
      }
    ]
  },
  "overrides": [
    {
      "files": ["test/**"],
      "rules": {
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
      }
    }
  ]
}
